@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  background: black; /* fallback for old browsers */
  background-image: url("../public/mousetwo.jpeg");
  background-repeat: no-repeat;
  background-size: 600px;
  background-attachment: fixed;
  background-position: center;
}
